<div data-role="page">
  <ul data-role="listview">
    <li data-role="list-divider">Hacker News</li>
<% @articles.each do |a| %>
    <li data-icon="false"><a href="<%= a.url %>" target="_blank" onclick="clicked('<%= a.id.to_s %>')">
      <p style="white-space: normal"><strong><%= a.title %></strong></p>
      <p style="white-space: normal"><%= a.url.sub(/^http(s)?:\/\//, '').sub(/\/.*/, '') %></p>
      <span class="ui-li-count"><%= a.points %></span>
    </a></li>
<% end %>
    <li data-icon="forward"><a onclick="more_articles('<%= @ids %>')">
      <h2>More articles</h2>
    </a></li>
  </ul>
</div>
