<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Url:</b>
  <%= @article.url %>
</p>

<p>
  <b>Published:</b>
  <%= @article.published %>
</p>

<p>
  <b>Updated:</b>
  <%= @article.updated %>
</p>

<p>
  <b>Read:</b>
  <%= @article.read %>
</p>

<p>
  <b>Points:</b>
  <%= @article.points %>
</p>

<p>
  <b>Comments:</b>
  <%= @article.comments %>
</p>

<p>
  <b>Type:</b>
  <%= @article.type %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
